<h2>Editing user</h2>


<% if session[:current_user_id] == nil %>
<%= render 'layouts/error' %>
<% else %>
<%= render 'form' %>
<% end %>		



<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
