<<<<<<< HEAD
* {
 margin: 0px;
 padding: 0px;
}

body{
 margin: 0 auto;
 margin-top: 100px;
}


th {
 //width: 100%;
 border: solid 2px #444;
 padding: 15px;
 font-size: 20px;
}

td {
 border-bottom: solid 1px #444;
 font-size: 16px;
=======
body{
 margin: 0 auto;
 width: 800px;
 margin-top: 100px;
}

p#blog{
 font-size: 40px;
 text-align: center;
}

ul.checkmark {
 list-style-type: none;
}

li.ok { 
 background:url("ok.png") no-repeat 0 50%;
 padding-left: 40px;
 padding-top: 10px;
}
li.ko { 
 background:url("ko.png") no-repeat 0 50%;
 padding-left: 40px;
 padding-top: 10px;
}



.pretty  {
 margin-top: 100px;
 margin: 0 auto;
 width: 100%;
}


.pretty th .current {
  padding: 20px;
  padding-right: 40px;
  background-repeat: no-repeat;
  background-position: right center;
}
.pretty th .asc { 
  background-image: url(arrow-up.png);
  	background-repeat:no-repeat;
	background-position:right center;
}

.pretty th .desc { 
  background-image: url(arrow-down.png);
  	background-repeat:no-repeat;
	background-position:right center;
>>>>>>> 1863f9aa536fe5a8fe8c5d021e67d1b99b51e50a
}