

body{
 margin: 0 auto;
 width: 800px;
}

h1.header, h4{
 text-align: center;
}
a:visited, a:link, a:active {
 color: gold;
}
a:hover {
 text-decoration:none;
 background-color: #fff;
 color: #444;
}


th {
 width: 100%;
 border: solid 2px #444;
 padding: 15px;
 font-size: 20px;
}

td {
 border-bottom: solid 1px #444;
 font-size: 16px;
 text-align:center;
}

td.show {
 background-color: #444;
 font-size: 20px; 
}

p {
 font-size: 20px;
 padding: 10px;
}


input[type=submit] {
 color:#fff;
 padding: 10px;
 background-color:#444;
 cursor:pointer;
 border: solid 1px #444;
}
input[type=submit]:hover {
 color: gold;
}

select.date-select {
 width:auto;
 border: 1px solid #cccccc;
 background-color: #ffffff;
}
